<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="BldItNuGetArtifactory" value="%ARTIFACTORY_NUGET_URL%" protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <BldItNuGetArtifactory>
        <add key="Username" value="%ARTIFACTORY_NUGET_USERNAME%" />
        <add key="ClearTextPassword" value="%ARTIFACTORY_NUGET_PASSWORD%" />
    </BldItNuGetArtifactory>
  </packageSourceCredentials>
</configuration>